{% extends "main.html" %}
{% block content %}
    <div>
            <div>
                <h1 class='text-center'>{{ category }}</h1>
                <button type="button" value="Delete" onclick="window.location.href='{{url_for('deleteCategory', category = category) }}';">Delete</button>
            </div>



    <div class='col-lg-12'>
            {% for i in songs %}
        <div class='col-lg-4'>
            <p>Song ID: {{ i.song_id }}</p>
            <span><p><a href= "{{url_for('showSongInfo', category = category, song_id = i.song_id, name = i.name) }}">{{i.name}}</a></p></span>
        </div>

            {% endfor %}
    </div>

    </div>
{% endblock %}

