{% extends "main.html" %}
{% block content %}
    <div>
            <div>
                <h1 class='text-center'>{{ category }}</h1>
                <button type="button" value="Delete" onclick="window.location.href='{{url_for('deleteCategory', category = category, category_id = category_id) }}';">Delete</button>
            </div>



    <div class='col-lg-12'>
            {% for i in songs %}
        <div class='col-lg-4'>
            <span><p>Song ID: {{ i.id }}</p><span>
            <span><p><a href= "{{url_for('showSongInfo', category = category, category_id = category_id, song_id = i.id, name = i.name) }}">{{i.name}}</a></p></span>
        </div>

            {% endfor %}
    </div>

    </div>
{% endblock %}

