{% extends "main.html" %} {% block content %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<h1 class="text-center"> Are you sure you want to delete category: "{{ category.name }}"? </h1>

<div class="col-lg-6 col-lg-offset-3 text-center">
    <form action="#" method='post'>

        <button type="submit" class="btn btn-lg delete" id="submit" type="submit">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>

    </form>
</div>

<a href="{{ url_for('showCategories')}}"> Cancel </a> {% endblock %}