<nav class="navbar">
    <div class="col-md-6">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <a href="{{url_for('showCategories') }}">Home</a>
            <a href="{{url_for('newCategory') }}">Add Category</a>
    </div>
    <div class="col-md-6 text-right">
                {%if 'username' not in session %}
                    <a href="{{url_for('login') }}"> Login </a>
                    {% else %}
                    <a href ="{{url_for('disconnect') }}">Logout</a>
                    {% endif %}
    </div>
</nav>