{% extends "main.html" %}
{% block content %}

<div class="col-lg-12">
    <table class="table table-hover">
        <table class="table table-hover">
            <tr>
                <th>Name: </th>
                <td>{{ song.name }}</td>
            </tr>
            <tr>
                <th>Key: </th>
                <td>{{ song.key }}</td>
            </tr>
            <tr>
                <th>Year: </th>
                <td>{{ song.year }}</td>
            </tr>
            <tr>
                <th>Composer: </th>
                <td>{{ song.composer }}</td>
            </tr>
            <tr>
                <th>Beats Per Minute: </th>
                <td>{{ song.bpm }}</td>
            </tr>
            <tr>
                <th>Time Signature: </th>
                <td>{{ song.timesig }}</td>
            </tr>
        </table>
    </table>
</div>

{% endblock %}